.main{
    width: 100%;
    text-align: left;
    
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space{
    display: flex;
    color: white
}

.space div, img{
    cursor: pointer;
}

.moduleName{
    font-size: 28px;
    color: white;
    font-weight: 500;
    margin: 20px 0px
}

.red{
    background-color: #da0a35;
    padding: 20px;
    height: 220px
}

.icon{
    width: 20px
}

.topicName{
    color: #da0a35;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 40px;
}

.topicLine{
    display: flex;
}

.content{
    background-color: #f5f5f5;
    margin-left: 40px;
    padding: 15px 0px;
    padding-right: 10px;
}

.content > div > div{
    display: flex;
    font-size: 18px;
    color: #797979;
    margin-bottom: 13px;
    cursor: pointer;
    margin-left: 20px;
}

.content > div> div:nth-child(1) >img{
    width: 25px;
    margin-right: 5px;
}

.content > div{
    display: flex;
    justify-content: space-between;
}